<header>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <div class="left">
    News Feed
  </div>
  <div class="time">
    
  </div>
</header>