<!DOCTYPE html>
<html lang="en">

<head>
  <title>News Feed</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/fetch.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- <%- include('partials/_header.ejs') %> -->
  <section class="newsContainer">
    <h1>News Head</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula et odio vel blandit. Donec
      vestibulum nunc ut metus aliquet pretium. Quisque ultrices tellus et odio tempus, eu convallis libero suscipit.
      Donec semper eros eu justo rhoncus, vitae condimentum purus vestibulum. Sed nibh urna, consequat vitae tincidunt
      vel, interdum at neque. Vestibulum quis lacinia ex. Maecenas quis venenatis diam. Morbi et ex sit amet augue
      lobortis venenatis condimentum non nibh. Donec tincidunt sollicitudin tincidunt. Aliquam erat volutpat. Morbi
      placerat pulvinar augue a semper. Donec vitae rhoncus nunc. Nam aliquet nisl quis libero varius mattis. Praesent
      urna lectus, finibus quis ligula et, hendrerit condimentum nisi.
    </p>
  </section>
  <button class="add">ADD</button>
</body>

</html>