<!DOCTYPE html>
<html lang="en">

<head>
  <title>News Feed</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/fetch.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%- include('partials/_header.ejs') %>
  <section class="newsContainer">
  </section>
</body>

</html>