html {
  background: #fff;
  background-image: url('../images/globe.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}

body {
  color: #000;
}

.newsContainer {
  margin: 0 auto;
  position: relative;
}

article {
  width: 60vw;
  margin: 1em auto;
  background: #fff;
  border-radius: 20px;
  padding: 1em;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

img {
  width: 50vw;
  height: auto;
}

.photo {
  display: flex;
  justify-content: center;
}

a {
  color: darkblue;
}

.author {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.description {
  margin-top: 0.2em;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 3em;
  margin: 1em;
  cursor: pointer;
  animation: jump 0.5s infinite;
}

@keyframes jump{
  0% {transform: translate(0px, 1px);}
  17% {transform: translate(0px, 2px);}
  34% {transform: translate(0px, 1px);}
  52% {transform: translate(0px, 0px);}
  69% {transform: translate(0px, -1px);}
  83% {transform: translate(0px, -2px);}
  100% {transform: translate(0px, -1px);}
}