html {
  background: #fff;
  background-image: url('../images/globe.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}

body {
  color: #000;
}

.newsContainer {
  margin: 0 auto;
  position: relative;
}

article {
  width: 60vw;
  margin: 1em auto;
  background: lightgrey;
  border-radius: 20px;
  padding: 1em;
}

h1 {
  font-size: 2em;
}

img {
  width: 25vw;
  height: auto;
}

a {
  color: darkblue;
}
